* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
}
.section-title
{
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
}
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 220px;
}
.tit1
{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}
.navbor1
{
    border: 2px solid none;
    border-radius: 8px;
    margin: -11px;
    width: 185px;
    height: 40px;
    
    background: rgba(11, 2, 35, 0.10);
}
.navbor1-title
{
    display: flex;
    justify-content: left;
    padding:11px 15px;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}
.YT1{
    width: 33px;
    height: 15px;
}
.TT1
{
    width: 15px;
    height: 15px;
}
.banner1
{
    background-image: url('../styles/images/Group 14.png');
    width: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
}

.b11
{
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding-right: 42px;
    padding-top: 200px;

}
.b12{
    text-align: center;
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 35px;
}
.ico{
    display: flex;
    padding-left: 218px;
    padding-top: 10px;
}
.IC1
{
    width: 30px;
    height: 30px;
}
.para1{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
align-items: center;
margin-top: 6px;
margin-left: 10px;
}

.btn1
{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-family: Work Sans;
font-size:1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: 218px;
padding: 15px 30px;
margin-top: 30px;
cursor: pointer;
}
.btn2
{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-family: Work Sans;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: 20px;
padding: 15px 30px;
cursor: pointer;
}

.banner
{
    display: flex;
}
.img1
{
    width: 530px;
    height: 700px;
}
.canner
{
    display: flex;
    padding-left: 175px;
    margin: 0;
    margin-top: -5px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.canner-para1
{
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 15px;
    text-align: right;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.canner-para2
{
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-right: 15px;
}
.canner-para3
{
    color: #534C64;
text-align: right;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-right: 15px;
}
.canner-para4
{
    color: #534C64;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 40px;
margin-right: 15px;

}
.canner-img
{
    width: 580px;
    height: 500px;
}
.btn3
{
    margin-bottom: 30px;
    margin-left: 355px;
}
.danner
{
    margin-top: 80px;
    text-align: center;
}
.danner-para1
{
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.danner-para2
{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.danner-para3
{
    color: #534C64;
    text-align: center;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
}
.fanner
{
    display: grid;
    grid-template-columns: repeat(4,270px);
    
    margin-left: 220px;
}
.fanner-img1
{
    height: 300px;
    width : 250px;
}
.fanner-para1{
    margin-top: 10px;
    color: #534C64;
font-family: Work Sans;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 150% */
}
.ganner
{
    display: flex;
}

@media screen and (max-width: 576px) {
    header {
        padding: 30px;
    }
    nav {
        flex-direction: column;
    }
    nav>ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 30px;
    }
    nav li a {
        padding: 20px;
    }
    .logo{
        height: 26px;
    }
    .banner
    {
        flex-direction: column-reverse;
    }
    .img1,.canner-img
    {
        width: 100%;
        height: 100%;
    }
    .banner1 {
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 500px;
    }
    .b11 {
        color: #0B0223;
        text-align: center;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        padding-right: 4px;
        padding-top: 80px;
    }
    .b12 {
        text-align: center;
        font-size: 5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-right: 3px;
    }
    .ico {
        padding-left: 65px;
    }
    .btn1,.btn2{
        margin-left: 0px;
    }
    .btn
    {
        padding-left: 80px;
    }
    .canner
    {
        padding-left: 0px;
        margin: 0;
        
    }
    .canner{
        flex-direction: column;
        margin-left: 10px;
    }
    .canner-para1,.canner-para2,.canner-para3,.canner-para4{
        text-align: center;
    }
    .canner-para2
    {
        font-size: 0.8rem;
    }
    .canner-para3
    {
        font-size: 1.2rem;
    }
    .canner-para4{
        font-size: 1.5rem;
    }
    .canner-img
    {
        width: 100%;
        height: 100%;
    }
    .btn3
    {
        margin-bottom: 30px;
        margin-left: 120px;
    }
    .danner-para1,.danner-para2
    {
        font-size: 1.8rem;
    }
    .danner-para3{
        font-size: 0.8rem;
    }
    .fanner {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 85px;
        gap: 20px;
    }
}

@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    .nav>ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        height: 26px;
    }
    .banner
    {
        flex-direction: column-reverse;
    }
    .img1
    {
        width: 100%;
        height: 100%;
    }
    .banner1 {
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 500px;
    }
    .b11 {
        color: #0B0223;
        text-align: center;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        padding-right: 4px;
        padding-top: 80px;
    }
    .b12 {
        text-align: center;
        font-size: 5rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-right: 3px;
    }
    .ico {
        padding-left:235px;
    }
    .btn1,.btn2{
        margin-left: 0px;
    }
    .btn
    {
        padding-left: 240px;
    }
    .canner{
        flex-direction: column;
        padding-left: 0px;
        margin-left: 0px;
    }
    .canner-para1,.canner-para2,.canner-para3,.canner-para4{
        text-align: center;
    }
    .canner-para2
    {
        font-size: 0.8rem;
    }
    .canner-para3
    {
        font-size: 1.2rem;
    }
    .canner-para4{
        font-size: 1.5rem;
    }
    .canner-img
    {
        width: 100%;
        height: 100%;
    }
    .btn3
    {
        margin-bottom: 30px;
        margin-left: 290px;
    }
    .fanner {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 85px;
        gap: 20px;
    }
    
}